<div class="container mx-auto flex flex-col items-center">
  <%= image_tag "/assets/ojigi_animal_inu.png", class: "w-48" %>
  <a href="/top" class="p-2 mt-8 mx-8 bg-blue-500 hover:bg-blue-300 text-white rounded">ログインページへ</a>
</div>
