<div class="w-1/2 mx-auto grid grid-cols-6">
  <div class="font-bold p-1">取引日</div>
  <div class="font-bold p-1">金額</div>
  <div class="font-bold p-1">区分</div>
  <div class="font-bold p-1">適用</div>


</div>